{% include "header.html" %}

    <div class="container">
        <br>
        <h1>Übersicht aller Ausgaben</h1>
        {% if eingabe_nutzer %}
            <table>
                <thead style="text-align:left">
                    <tr>
                        <th>Name</th>
                        <th>Was</th>
                        <th>Betrag</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in eingabe_nutzer.items() %}
                    <tr>
                        <td>{{value["Name"]}}</td>
                        <td>{{value["Was"]}}</td>
                        <td>{{value["Betrag"]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p> Keine Einträge vorhanden.</p>
        {% endif %}

        <td><a href="daten_loeschen" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Alle Daten löschen</a></td>
        <br>
    </div>





{% include "footer.html" %}
