{% include "header.html" %}

    <div class="container">
        <br>
        <h1>Übersicht alle Ausgaben pro Person</h1>
    </div>

    <!--Start Tabelle Übersicht Ausgaben -->
    <div class="container">
        <div class="row">
            <div class="col-md-4"><p>Ausgaben Mirjam: <p><strong>CHF {{summe_mirjam}}</strong></p></div>
            <div class="col-md-4"><p>Ausgaben Luca: <p><strong>CHF {{summe_luca}}</strong></p></div>
            <div class="col-md-4"><p>Ausgaben Sarina: <p><strong>CHF {{summe_sarina}}</strong></p></div>
        </div>
    </div>
    <!--Ende Tabelle Übersicht Ausgaben-->
    <div class="container">
        <br>

        {{ balkendiagramm|safe }}

    </div>

    <div class ="container">
        <h1>Übersicht alle Kategorien</h1>
        <p>Hier siehst du eine Übersicht mit allen Kategorien und den Ausgaben pro Kategorie in %.</p>

        {{ kreisdiagramm|safe }}
    </div>

{% include "footer.html" %}