{% include "header.html" %}

    <div class="container">
        <br>
        <h1>Übersicht alle Ausgaben pro Person</h1>
    </div>

    <!--Start Tabelle Übersicht Ausgaben -->
    <div class="container">
        <div class="row">
            <div class="col-md-2"><p>Ausgaben Mirjam: </p></div>
            <div class="col-md-2"><p><strong>CHF {{summe_mirjam}}</strong></p></div>
        </div>
        <div class="row">
            <div class="col-md-2"><p>Ausgaben Sarina: </p></div>
            <div class="col-md-2"><p><strong>CHF {{summe_sarina}}</strong></p></div>
        </div>
        <div class="row">
            <div class="col-md-2"><p>Ausgaben Luca: </p></div>
            <div class="col-md-2"><p><strong>CHF {{summe_luca}}</strong></p></div>
        </div>
    </div>
    <!--Ende Tabelle Übersicht Ausgaben-->
    <div class="container">
        <br>
        <h1>Diagramm</h1>

        {{ fig_div|safe }}

    </div>
{% include "footer.html" %}