{% include "header.html" %}

    <div class="container">
        <br>
        <h1>Bitte trage hier deine Ausgaben ein:</h1>

        <form method="POST">
            <label for="name">Wer hat den Einkauf gemacht?</label>

        <select class="form-select" aria-label="Default select example" name="name">
            <option selected>Wähle deinen Namen</option>
            <option value="Luca">Luca</option>
            <option value="Mirjam">Mirjam</option>
            <option value="Sarina">Sarina</option>
        </select>

        <br>


            <div class="form-group">
                <label for="was">Was wurde gekauft?</label>
                <input type="text" class="form-control" id="was" placeholder="Gib hier ein, was du gekauft hast." name="was">
            </div>

            <br>
            <label for="kategorie">Zu welcher Kategorie gehört das Gekaufte?</label>
            <select class="form-select" aria-label="Default select example" name="kategorie">
            <option selected>Wähle die Kategorie</option>
            <option value="Lebensmittel">Lebensmittel und Getränke</option>
            <option value="Haushalt">Haushalt</option>
            <option value="Hygieneartikel">Hygieneartikel</option>
            <option value="Balkon">Balkon</option>
            <option value="Diverses">Diverses</option>
            </select>
            <br>

            <div class="form-group">
                <label for="betrag">Wie viel hat deine Ausgabe gekostet?</label>
                <input type="text" class="form-control" id="betrag" placeholder="Gib hier den Betrag ein." name="betrag">
            </div>

            <br>

            <button type="submit" class="btn btn-secondary btn-lg btn-block">Daten übermitteln</button>

        </form>
    </div>

{% include "footer.html" %}