{% include "header.html" %}
<br>
    <div class="container">

        <h1>Willkommen bei der WG-Ausgabenübersicht</h1>
        <br>
        <h2>Hier siehst du eine Übersicht der einzelnen Menüpunkten:</h2>
        <p><strong>Ausgaben erfasssen:</strong> Hier werden alle Ausgaben, welche im WG-Alltag gemacht werden, erfasst.</p>
        <p><strong>Übersicht Ausgaben:</strong> Hier siehst du alle gemachten Ausgaben von allen WG-Mitgliedern in der Übersicht.</p>
        <p><strong>Zusammenfassung:</strong> Hier ist ersichtlich, wer insgesamt wie viele Ausgaben gemacht hat und wer wie viel Geld in welcher Kategorie ausgegeben wurde.</p>
    </div>
{% include "footer.html" %}